.hero{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(236, 236, 236);
  height: 174px ;
  overflow: hidden;
}


h2{
  color: #0070cd;
}
