<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand fw-bolder" href="#">My <span>Doctor</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        </li>
        <li *ngIf="!isLogin" class="nav-item">
          <a class="nav-link " routerLink="register" routerLinkActive="active">SignUp</a>
        </li>
        <li *ngIf="!isLogin" class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link" routerLink="doctors" routerLinkActive="active">Book a Doctor</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link" routerLink="contactUs" routerLinkActive="active">Contact Us</a>
        </li>
        <li *ngIf="isLogin" class="nav-item ms-3">
          <button (click)="logOut()" class="btn btn-danger fw-bold">LogOut</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
