.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(236, 236, 236);
  height: 174px;
  overflow: hidden;
}


.search{
  top: 50% !important;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 30px;
  font-size: 18px;
}
