<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner h-100">
    <div class="carousel-item active position-relative">
      <img src="assets/images/hero1.jpg" class="d-block w-100" alt="...">
      <div class=" p-5 d-flex justify-content-center align-items-center position-absolute top-0 end-0 bottom-0 start-0 w-100 h-100 bg-black bg-opacity-50">
        <h1 class="text-white">Better <span class="text-custom">Healthcare</span> for a Better Life</h1>
      </div>
    </div>
    <div class="carousel-item position-relative">
      <img src="assets/images/hero2.jpg" class="d-block w-100" alt="...">
      <div
        class=" p-5 d-flex justify-content-center align-items-center position-absolute top-0 end-0 bottom-0 start-0 w-100 h-100 bg-black bg-opacity-50">
        <h1 class="text-white">Better <span class="text-custom">Healthcare</span> for a Better Life</h1>
      </div>
    </div>
    <div class="carousel-item position-relative">
      <img src="assets/images/hero3.jpg" class="d-block w-100" alt="...">
      <div
        class=" p-5 d-flex justify-content-center align-items-center position-absolute top-0 end-0 bottom-0 start-0 w-100 h-100 bg-black bg-opacity-50">
        <h1 class="text-white">Better <span class="text-custom">Healthcare</span> for a Better Life</h1>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="py-5">
  <div class="container w-75">
    <div class="head py-4">
      <h1 class="fw-bolder text-custom">New services for better healthcare</h1>
    </div>
    <div class="row bg-white p-5 rounded-4 justify-content-between">
      <div class="col-md-2">
        <img class="rounded-circle" src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/56708/_next/static/images/qnaDoctor.webp" alt="" srcset="">
      </div>
      <div class="col-md-9">
        <h2 class="fw-bold">Have a Medical Question?</h2>
        <p>Submit your medical question and receive an answer from a specialized doctor</p>
        <button class="btn btn-info text-white fw-bolder">Ask Now</button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container pharmacy w-75 p-3 rounded-4">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5">
        <h3 class="fw-bolder">Pharmacy</h3>
        <p class="fw-medium">Get your medicine and all your pharmacy needs.</p>
        <button class="btn">Place order</button>
      </div>
      <div class="col-md-3">
        <img width="150" src="assets/images/medicine.png" alt="">
      </div>
    </div>
  </div>
</section>


<section class="py-5">
  <div class="container w-75">
    <div class="row g-5">
      <div class="col-md-6 d-flex align-items-stretch tel-container">
        <div class="tel">
          <img width="150" class="img" src="assets/images/call.jpeg" alt="">
        </div>
        <div class="bg-white p-2 px-3 content">
          <h3>Teleconsultation</h3>
          <p>Schedule a voice or video call with a specialized doctor.</p>
          <a href="#" class="text-danger fw-bold">Book a Call</a>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch tel-container">
        <div class="tel">
          <img width="150" class="img" src="assets/images/homeVisit.jpeg" alt="">
        </div>
        <div class="bg-white p-2 px-3 content">
          <h3>Home Visit</h3>
          <p>Choose the specialty, and the doctor will visit you at home.</p>
          <a href="#" class="text-danger fw-bold">Book a Visit</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white py-4">
  <div class="container w-75">
    <h3 class="fw-bold mb-4">Book from top specialties</h3>
    <div class="row g-5">
      <div class="col-md-3">
        <img class="w-100 rounded-3 rounded-bottom-0" src="assets/images/skin.jpg" alt="">
        <p class="fw-bolder m-0 bg-body-secondary p-2 rounded-bottom-3">Skin</p>
      </div>
      <div class="col-md-3">
        <img class="w-100 rounded-3 rounded-bottom-0" src="assets/images/child.jpg" alt="">
        <p class="fw-bolder m-0 bg-body-secondary p-2 rounded-bottom-3">Child</p>
      </div>
      <div class="col-md-3">
        <img class="w-100 rounded-3 rounded-bottom-0" src="assets/images/7aml.jpg" alt="">
        <p class="fw-bolder m-0 bg-body-secondary p-2 rounded-bottom-3">Gynaecology and Infertility</p>
      </div>
      <div class="col-md-3">
        <img class="w-100 rounded-3 rounded-bottom-0" src="assets/images/teeth.jpg" alt="">
        <p class="fw-bolder m-0 bg-body-secondary p-2 rounded-bottom-3">Teeth</p>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container  w-75">
    <div class="row g-3 ">
      <div class="info col-md-3">
        <div class="bg-white p-3 rounded-3">
          <img class="mb-2" src="assets/images/medical-care-icon.svg" alt="">
          <h4>All your healthcare needs</h4>
          <p>Search and book a clinic visit, home visit, or a teleconsultation. Order your medicine and book a service or
            operation.</p>
        </div>
      </div>
      <div class="info col-md-3">
        <div class="bg-white p-3 rounded-3">
          <img class="mb-2" src="assets/images/doctor-icon.svg" alt="">
          <h4>Verified patient reviews</h4>
          <p>Doctor ratings are from patients who booked and visited the doctor through Vezeeta.</p>
        </div>
      </div>
      <div class="info col-md-3">
        <div class="bg-white p-3 rounded-3">
          <img class="mb-2" src="assets/images/booking-icon.svg" alt="">
          <h4>Your booking is confirmed</h4>
          <p>Your booking is automatically confirmed, as the doctor specifies his working hours and is notified of the booking
          details.</p>
        </div>
      </div>
      <div class="info col-md-3">
        <div class="bg-white p-3 rounded-3">
          <img class="mb-2" src="assets/images/security-icon.svg" alt="">
          <h4>Book for free, and pay in the clinic</h4>
          <p>The consultation fees stated on Vezeeta are the actual doctor's fees with no extra charges.</p>
        </div>
      </div>
    </div>
  </div>
</section>
